//
// _pagination.scss
//

// Pagination rounded (Custom)
.pagination-rounded {
  .page-link {
    border-radius: 30px !important;
    margin: 0 6px;
    border: none;
    line-height: 1.25;
  }
}
.page-link {
  color: $dark;
  border: none;
}
.page-item.active .page-link {
  background-color: $primary;
  border-color: $primary;
  box-shadow: $box-shadow;
}
.page-link:focus,
.page-link:hover {
  color: $dark;
  background-color: $gray-200;
}

.pagination {
  .page-item {
    .page-link {
      border-radius: 4px;
    }
  }
}
